*{
  font-family: 'Ubuntu', sans-serif;
}


.qicon{
  color: black;
  font-size: 25px;
}
#tup{
  color: green;
  transition: ease-in-out 1s;
}
#tdown{
  color: red;
  transition: ease-in-out 1s;
}
#tup:hover, #tdown:hover{
  font-size: 25px;
}

.home{
  padding: 10px;
}
#vpara{
  font-size: 19px;
  font-weight: 300;
}
.header{
  background-color: maroon;
  border-radius: 4px;
}
.headerq h1{
  margin-right: 50px;
  font-size: 60px;
  transition: ease-in-out 4s;
}

.header button{
  width: 150px;
  font-size: 20px;
  float: right;
  background-color: grey;
}
.header button:hover{
  width: 150px;
  font-size: 20px;
  float: right;
  color: black;
}

/* quote list*/
.thelist{
  background-color: rgba(0, 0, 0, 0.515);
  margin-top: 10px;
  width: 75%;
  border-radius: 10px;
}

.list{
  padding: 10px;
  margin: 10px 5px;
}


.quotelist{
  background-color: rgb(255, 255, 255);
  padding: 20px 15px;
  width: 100%;
  border-radius: 10px;
}
.quotelist h4{
  text-transform: capitalize;
}
.quotelist>.btn{
  background-color: grey;
  color: white;
}
/*Add Quotes*/
.formquote{
  padding: 10px;
}

.ishigh{
  background-color: maroon;
  color: white;
}