*{
  font-family: 'Ubuntu', sans-serif;
}

.ishighest{
  background: yellow;
}

.home{
  padding: 10px;
}

.headerq h1{
  margin-right: 50px;
  font-size: 60px;
  transition: ease-in-out 4s;
}

.header button{
  width: 150px;
  font-size: 20px;
  float: right;
  background-color: maroon;
}
.header button:hover{
  width: 150px;
  font-size: 20px;
  float: right;
  color: black;
}

/* quote list*/
.thelist{
  background-color: rgba(0, 0, 0, 0.515);
  margin-top: 10px;
  width: 75%;
  border-radius: 10px;
}

.list{
  padding: 10px;
  margin: 10px 5px;
}


.quotelist{
  background-color: beige;
  padding: 20px 15px;
  width: 100%;
  border-radius: 10px;
}
.quotelist h4{
  text-transform: capitalize;
}
/*Add Quotes*/
.formquote{
  background-color: green;
  padding: 10px;
}