<div class="container">

<p><span id="titleq">{{ quote.title}}</span></p>
<p>Quote <span>{{ quote.quoteline }}</span></p>
<p>Author <span>{{ quote.author }}</span></p>
<div>
  <p>Likes <span>{{ quote.upvote }}</span> </p>
  <fa-icon [icon]="faThumbsUp" id="tup" (click)='voteUp()'></fa-icon>
</div>
<div>
  <p>Dislikes <span>{{ quote.downvote }}</span></p>
  <fa-icon [icon]="faThumbsDown" id="tdown" (click)='votedown()'></fa-icon>
</div>
<p>submitted by <span>{{ quote.subBywho }}</span></p>
<p><span id="timeout">{{ quote.dateupload | countdown }}</span></p>

<input type="button" value="Delete Quote" (click)='deletequote(true)' class="btn btn-danger">
</div>
