/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"

/* #body {

  box-sizing: border-box;
  
  margin: 0;
  
  padding: 0;
  
  } */