<h3>Add or Remove Quote</h3>

<div class="ad-quote">
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" id="name" class="form-control" required>
      <div>
        <p>Title is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Quote</label>
      <input type="text" id="name" class="form-control" required>
      <div>
        <p>Quote is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" id="name" class="form-control" required>
      <div>
        <p>Author is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Submitted By</label>
      <input type="text" id="name" class="form-control" required>
      <div>
        <p>Submitted By is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Vote</label>
      <input type="radio" name="vote" id="upVote">Upvote
      <input type="radio" name="vote" id="downVote">Downvote
      <div>
        <p>UpVote is required</p>
      </div>
    </div>
  </form>
</div>